/* font-family: 'Lato', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */
/* common CSS */
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif; 
}
p,div,span,a{
    font-family: 'Source Sans Pro', sans-serif; 
}
::placeholder { 
    color: #a3b1bf;
  }
  :-ms-input-placeholder { 
    color:#a3b1bf;
  }
  ::-ms-input-placeholder { 
    color: #a3b1bf;
  }
/* Common Padding  */
.sec_pad{
    padding: 120px 0;
}
/* Top header CSS */
.header_top{
    background-color: #f5f7fa;
    border-bottom: 1px solid #e6e9ed; 
}
.top_content{
   min-height: 40px; 
}
.cta div a {
    color: #506a85;
    font-size: 12px;
    margin-right: 25px;
    text-decoration: none;
}
.cta div a:hover{
    color: #9dded2;
}
.cta div i{
    margin-right: 8px;
}
.social ul{
    list-style-type: none;
    margin-bottom: 0;
}
.social ul li{
    display: inline-block;
}
.social ul li a{
    color: #506a85;
   padding-left: 20px;
}
.social ul li a:hover{
    color:#9dded2;
}
/* End Top Header */
/* Start Nav Header */
.nav_header {
    padding: 35px 0;
    background-color: #ffffff;
}
.main_menu nav ul{
    list-style-type: none;
    margin-bottom: 0;
}
.main_menu nav ul li{
    display: inline-block;
}
.main_menu nav ul li a{
    text-decoration: none;
    padding: 10px 21px;
    color: #506a85;
    display:inline-block;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.header_search{
    padding-top: 10px;
}
/* End Header  */
/* Hero CSS */
#hero{
    background-image: url(imges/hero.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.hero_content{
    padding: 300px 0;
}
.hero_content h2 {
    font-size: 78px;
    line-height: 1.2;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase; 
}
.hero_content p{
    font-size:24px;
    line-height: 1.3;
    color: #a3b1bf;
    padding: 5px 0 40px 0;
}
.hero_content .c_btn{
    text-transform: uppercase;
    padding:20px 70px ;
    color: #fff;
    background-color:#00bc9c ;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 700;
}
/* Start Service CSS */
.section_head h2{
    font-size: 44px;
    line-height: 1.2;
    color: #506a85; 
}
.section_head p{
    font-size:22px ;
    line-height:1.5 ;
    color: #73879c;
    padding: 21px 0 55px 0;
}
.service_icon i{
    font-size: 40px;
    font-weight: 400;
    color: #00bc9c;
}
.service_content h3{
    font-size: 26px ;
    line-height: 1.2;
    color: #506a85;
}
.service_content p{
    font-size:16px ;
    line-height: 1.3;
    color: #73879c; 
}
 /* Portfolio CSS */
 #portfolio {
     background-color: #f2f5f7;
 }
 .thumb img{
     width: 100%;
 }
 .portfolio_details {
     background-color: #fff;
    border-right: 1px solid #e6e9ed;
    border-bottom: 2px solid #e6e9ed;
    border-left: 1px solid #e6e9ed;
    border-radius: 2px;
    padding: 25px 0;
 }
 .portfolio_details h2{
     font-size: 20px;
     line-height: 1.1;
     color: #506a85;
 }
 .portfolio_details p{
    font-size: 14px;
    line-height: 1.6;
    color: #506a85;
    margin-bottom: 0;
}
.css_slide img{
    width: 100%;
}
.slide_work {
    padding-top:80px ;
}
/* GET IN TOUCH  */
 .section_head .d_btn{
    text-transform: uppercase;
    padding:20px 25px ;
    color: #fff;
    background-color:#00bc9c ;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 700;
}
/* Footer  */
.widget_all{
    background-color: #2f4052;
    padding: 75px;
}
.widget_title{
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 15px;
}
.footer_widget p{
    font-size:14px ;
    line-height: 22px;
    color: #98a6b4; 
}
.footer_widget a {
    font-size: 15px;
    color: #a3b1bf;
    font-weight: 700;
    text-decoration: none;
}
.footer_widget a i{
    padding-left: 5px;
}
.footer_widget p i{
    padding-right: 10px;
}
.sub_form{
    position: relative;
}
.sub_form input[type=email]{
    position: relative;
    width: 100%;
    background-color: #4e5c6c;
    color: #828e99;
    border: 0;
    outline: none;
    border-radius: 3px;
    padding: 15px 12px;
    font-size: 14px;
}
.sub_form input[type=submit]{
    position: absolute;
    top:5px;
    right:5px;
    bottom: 5px;
}
.sub_form  .d_btn{
    text-transform: uppercase;
    padding:10px;
    color: #fff;
    background-color:#00bc9c ;
    border-radius: 4px;
    font-weight:700;
    outline: none;
    border: 0;
}
.copyright{
    background-color: #283645;
    padding: 30px 0;
}
.copyright .notice p{
    margin-bottom: 0;
    color: #707e8c;
}
.footer_menu ul {
    margin-bottom: 0;
}
.footer_menu ul li {
    display: inline-block;  
}
.footer_menu ul li a{
    display: inline-block;
    font-size: 14px;
    color: #707e8c;
    text-decoration: none;
    padding: 0 10px;
}